<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- サイズはiphone12Pro(390×844px)を想定 -->
    <title>出欠管理の看板</title>
    <!-- todo:css/jsファイルのパスを指定する -->
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>矢向フットサル部<br>出欠管理の看板</h1>
    <div class = "tripleColumn">
        <!-- TODO:forEach文を用いてコードの短縮化をする -->
        <div class = "firstColumn">
            <div class = "block">
                <div class = "person">
                    <p>アライユウキ</p>
                </div>
                <div class = "car">
                    <p>田辺の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>オガワラユウタ</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>カネコショウキ</p>
                </div>
                <div class = "car">
                    <p>丸山の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>カワジシュウト</p>
                </div>
                <div class = "car">
                    <p>川路の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>コシダソウタ</p>
                </div>
                <div class = "car">
                    <p>川路の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>サノコウセイ</p>
                </div>
                <div class = "car">
                    <p>田辺の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>サワダタツヤ</p>
                </div>
                <div class = "car">
                    <p>川路の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 
            
            

        </div>
        <div class = "secondColumn">
            <div class = "block">
                <div class = "person">
                    <p>タカシミズジンタ</p>
                </div>
                <div class = "car">
                    <p>チャリ</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>タテイシナオト</p>
                </div>
                <div class = "car">
                    <p>丸山の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>タナカソウ</p>
                </div>
                <div class = "car">
                    <p>田辺の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>タナベギョウ</p>
                </div>
                <div class = "car">
                    <p>田辺の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>ツジタナオキ</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>トミタマキト</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>ナカジマミズキ</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 
         </div>
        <div class = "thirdColumn">
            <div class = "block">
                <div class = "person">
                    <p>ノザカミナト</p>
                </div>
                <div class = "car">
                    <p>野坂の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>ノワダユウイチ</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>ハタケヤマヒビキ</p>
                </div>
                <div class = "car">
                    <p>中島の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>マルヤマキヨト</p>
                </div>
                <div class = "car">
                    <p>丸山の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div>

            <div class = "block">
                <div class = "person">
                    <p>ヤマダソウイチロウ</p>
                </div>
                <div class = "car">
                    <p>山田の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 

            <div class = "block">
                <div class = "person">
                    <p>ヨシカネナツト</p>
                </div>
                <div class = "car">
                    <p>丸山の車</p>
                </div>
                <div class = "attendance">
                    <p class ="yes">出席</p>
                    <p class ="no unvisible">欠席</p>
                </div>
                <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
            </div> 
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        window.addEventListener('load', function(){
            // サーバーへ接続
            const socket = io();
            
            socket.emit('sendMessage', "testmessage");
                socket.on('receiveMessage', (message) => {
                    // messageには受信したメッセージが入る
                    console.log(message);
                });

            const btnElems = document.getElementsByClassName("btn");
            const yesElems = document.getElementsByClassName("yes");
            const noElems = document.getElementsByClassName("no");
            Array.prototype.forEach.call(btnElems, function(btnElem,index){
                btnElem.addEventListener("click",function(){
                    const yesElem = yesElems[index];
                    const noElem = noElems[index];

                    yesElem.classList.toggle("unvisible");
                    noElem.classList.toggle("unvisible");

                    socket.emit('sendMessage', "testmessage");
                    socket.on('receiveMessage', (message) => {
                        // messageには受信したメッセージが入る
                        console.log(message);
                    });                    
                })
            })

        });
    </script>
</body>
</html>