<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>出欠管理の看板</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <h1>矢向フットサル部<br>出欠管理の看板</h1>

    <% people.forEach((person,index) => { %>
        <p> <%= person.id %>:<%= person.name %> </p>
    <% }) %>
  
    <div class = "tripleColumn">
        
            <div class ="firstColumn">
            <% people.forEach((person,index) => { %>
                <% if (index < 7) { %>
                    <div class = "block">
                        <div class = "person">
                            <p> <%= person.name %> </p>
                        </div>
                        <div class = "car">
                            <p> <%= person.car %> </p>
                        </div>
                        <div class = "attendance">
                            <p class ="yes">出席</p>
                            <p class ="no unvisible">欠席</p>
                        </div>
                        <a href="#"><button class="btn"><span>出席/欠席</span></button></a>
                    </div>
                <% } %>
            <% }) %> 
            </div>
  

    </div>

</body>
</html>